:root {
  --iris-color: #4D5AE5;
  --ocean-color: #404BBF;
  --navy-blue-color: #2E2F42;
  --green-color: #31D0AA;
  --slate-color: #434455;
  --light-slate-color: #8E8F99;
  --cornflower-color: #E7E9FC;
  --cloud-color: #F4F4FD;
  --navy-blue-modal-color: #2E2F4266;
  --grey-color: #2E2F42B2;
  --white-color: #FFFFFF;
  --dairy-color: #FCFCFC;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;  
}

/*Font weiht*/
.medium {  
  font-weight: 500;
}

.bold {  
  font-weight: 700;
}

.black {
  font-weight: 900;
}

/*Font color*/
.iris {
  color: var(--iris-color);
}

.navy-blue {
  color: var(--navy-blue-color);
}

.cloud {
  color: var(--cloud-color);
}

.white {
  color: var(--white-color);
}

.slate {
  color: var(--slate-color);
}

/*Background color*/
.navy-blue-bg {
  background: var(--navy-blue-color);
}
.cloud-bg {
  background: var(--cloud-color);
}

/*Helpers*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Base*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate-color);
  background-color: var(--white-color);
}

h1, h2, h3 {
  color: var(--navy-blue-color);  
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;  
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.sub-title {  
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.40px; 
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.64px;  
  cursor: pointer;  
  text-align: center;
}

.base-button {
  color: var(--white-color);
  background: var(--iris-color);  
}

.filter-button {
  color: var(--iris-color);  
  background: var(--cloud-color);
}

button:hover, 
button:focus {
  background: var(--ocean-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

/*header*/
.logo {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-link:active, 
.nav-link:focus, 
.nav-link:hover {
  color: var(--ocean-color);
}

.address {  
  font-style: normal;
}

/*Card*/
.card {
  background-color: var(--white-color);
}
